@model ALPHA_DGS.Models.Magazijn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Is de Magazijn leeg???</h3>
<div>
    <h4>Magazijn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentMloId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentMloId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LokatieType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LokatieType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bezet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bezet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAanFust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAanFust)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
