@model ALPHA_DGS.Models.Magazijn

@{
    ViewData["Title2"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Ingevulde dingen in @Model.Naam</h1>

<p> BUG GEFIXED</p> BUG FIX

<style>
table {
position: relative;
border: 1px solid #ddd;
border-collapse: collapse;
}

td, th {
white-space: nowrap;
border: 1px solid #ddd;
padding: 10px;
text-align: center;
}

th {
background-color: #eee;
position: sticky;
top: -1px;
z-index: 2;
}

   

.column {
display: inline-block;
max-width: 200px;
}

.block {
border: 1px solid #ddd;
max-width: 200px;
padding: 10px;
}

&:first-of-type {
left: 0;
z-index: 3;
}

tbody tr td:first-of-type {
background-color: #eee;
position: sticky;
left: -1px;
text-align: left;
}
</style>

<p>
    <a asp-action="IndexMore">Overzichtelijke view</a>
</p>

<div>
    <p>
        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addMagazijnPartij" data-url="@Url.Action("Create", "MagazijnPartijs")"> Voeg Toe</button>
    </p>
    <table class="table">
       
        <tbody>
        @{ int i = 1; }
        <div>
            <div>
                @foreach (var item in Model.PartijSeriesMagazijn)
                {
                    if (i > 0 && i % 6 == 1)
                    {
                        // close the div and start again
                        @:</div><div class="column">
                    }
                    <div class="block">@item.Pvan</div>
                    <a asp-action="Delete" asp-controller="MagazijnPartijs" asp-route-id="@item.Id">Delete</a>
                    <div class="block">@item.Ptot</div>
                    <a asp-action="Delete" asp-controller="MagazijnPartijs" asp-route-id="@item.Id">Delete</a>
                    i++;
                }
            </div>
        </div>
         
        </tbody>
    </table>
</div>
