@model ALPHA_DGS.Models.GeneralModelView

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<style>
    table {
        position: relative;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    td, th {
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #eee;
        position: sticky;
        top: -1px;
        z-index: 2;
    }

    .column {
        display: inline-block;
        max-width: 200px;
    }

    .block {
        border: 1px solid #ddd;
        max-width: 200px;
        padding: 10px;
    }

    &:first-of-type {
        left: 0;
        z-index: 3;
    }

    tbody tr td:first-of-type {
        background-color: #eee;
        position: sticky;
        left: -1px;
        text-align: left;
    }
</style>

<p>
    <a class="btn btn-primary" asp-action="Create">Voeg Nieuwe Locatie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Magazijns[0].Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magazijns[0].Bezet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magazijns[0].MaxAanFust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Magazijns)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Naam)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bezet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAanFust)
            </td>
            
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Bewerk</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Info</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>

        </tr>
    }
    </tbody>
    <tbody>




      


    </tbody>
</table>