@model IEnumerable<ALPHA_DGS.Models.Stadium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<style>
    table {
        position: relative;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    td, th {
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #eee;
        position: sticky;
        top: -1px;
        z-index: 2;
    }

   

    .column {
        display: inline-block;
        max-width: 200px;
    }

    .block {
        border: 1px solid #ddd;
        max-width: 200px;
        padding: 10px;
    }

    &:first-of-type {
         left: 0;
         z-index: 3;
     }

    tbody tr td:first-of-type {
        background-color: #eee;
        position: sticky;
        left: -1px;
        text-align: left;
    }
</style>

<p>
    <a asp-action="Create">Voeg Nieuwe Stadia</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StadIum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StadIum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
